<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/socket.io/socket.io.js"></script>
      <style>
          #canv {
              position: absolute;
              left: 0; top: 0;
              z-index: 0;
          }
          
          #bg {
              position: absolute;
              left: 0; top: 0;
              z-index: -5;
              border: solid 2px black;
          }
          body {
              overflow: hidden;
              background-color: rgb(179, 232, 176);
          }
      </style>
  </head>
  <body>
      <canvas id="canv"></canvas>
      <canvas id="bg"></canvas>

      <script src="javascripts/jquery-1.9.1.min.js"></script>
      <script src="javascripts/main.js"></script>
      <script src="javascripts/canvas.js"></script>
  </body>
</html>
